.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: rgb(199, 199, 199) 0.5px solid;
  padding: 20px;
}

.form-container input {
  margin: 5px 0;
  padding: 5px;
  width: 280px;
}

.form-container button {
  margin: 10px 5px 0 5px; /* Adjust margin as needed */
  padding: 5px;
  width: 140px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; /* Ensure it's above the input field */
}